<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Edit post</h2>
    <div
      class="form-control"
      [ngClass]="{
        invalid: form.get('title').invalid && form.get('title').touched
      }"
    >
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" />
      <div
        *ngIf="form.get('title').invalid && form.get('title').touched"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required"> Enter title </small>
      </div>
    </div>

    <div class="form-control">
      <label>Text</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submited"
    >
      Update post
    </button>
  </form>
</div>
<ng-template #loading>Loading...</ng-template>
