<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login as admin</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as err">
    {{err}}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>


  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('email').invalid && form.get('email').touched
    }"
  >
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Enter email
      </small>
      <small *ngIf="form.get('email').errors.email">
        Please, enter email
      </small>
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('password').invalid && form.get('password').touched
    }"
  >
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation"
    >
    <small *ngIf="form.get('password').errors.required">
      Enter password
    </small>
    <small *ngIf="form.get('password').errors.minlength ">
      Password too short. Min length should be {{form.get('password').errors.minlength.requiredLength}} but is {{form.get('password').errors.minlength.actualLength}}
    </small>
    </div>

  </div>


    <button [disabled]="form.invalid || submited" class="btn btn-primary" type="submit">
      Login
    </button>

</form>
